@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=New+Amsterdam&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #220901ff;
    --vermelho-escuo: #621708ff;
    --vermelho: #941b0cff;
    --laranja: #bc3908ff;
    --amarelo: #f6aa1cff;
    --fonte-titulo:"New Amsterdam", sans-serif;
    --fonte-texto:"Bungee Tint", sans-serif;
}

body{
    background-color: var(--amarelo);
    font-family: var(--fonte-texto);
    font-size: 25px;
}

.cabecalho{
    background-color: var(--amarelo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 15%;
}


  